@charset "UTF-8";
/* CSS Document */
body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
section {
    width: 100%;
    height: 95vh;
    background-image: url("Backgrounds/willian-justen-de-vasconcellos-T_Qe4QlMIvQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* To Set how the NAV will be displayed */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
/* This Displays the NAV in horizontal manner (Unstacks Home About Projects Contact Info) */
nav ul {
    display: flex;
}
/* Removes the Menu Bar Toggle */
.toggle{
    display: none;
}
/* This is to Modify Nav Bar(Home About Projects Contact Info) */
nav ul li a {
    margin: 30px;
    font-family: helvetica;
    color: rgb(6, 126, 126);
    font-size: 15px;
    font-weight: 700;
}
/* This is to modify the Logo (Parmbir Singh) */
.logo {
    font-family: helvetica;
    color: RED;
    font-size: 22px;
}
/* This will change the color of the Current NAV that is active (Being Displayed) */
.active {
    font-weight: bold;
    color: red;
}
/* This is the font style and other attributes of the Text (Hello) */
.text-container p:nth-child(1){
    font-family: fantasy;
    font-style: bold;
    color: rgb(6, 126, 126);
    font-size: 22px;
}
/* This is the font style and other attributes of the Text (I'm Parmbir) */
.text-container p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    letter-spacing: 1px;
    color: white;
    font-size: 60px;
}
/* This is the font style and other attributes of the Text (I am a Software Engineer & Designer) */
.text-container p:nth-child(3){
    font-family: fantasy;
    color: rgb(6, 126, 126);
    font-size: 30px;
    line-height: 30px;
}
/* This brings the P:nth-child() together and sets the spacing up */
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
/* This takes the text in Text-Container and positions it in the Page */
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
/* This is a to modify the Buttons */
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
/* This modifies the border of the Hire Button and Color of text */
.hire-btn{
    border: 2px solid rgb(6, 126, 126);
    color: rgb(6, 126, 126);
}
/* This modifies the border to nothing and Background color of down-Cv Button */
.projects{
    background-color: rgb(6, 126, 126);
    color: white;
    border: none;
}
/* Buttons get activated when clicked (resize) */
button:active{
    transform: scale(1.1);
}
/* This adds another picture to the Page. Add's a Model */
.model{
    height: 560px;
    position: absolute;
    bottom: 40px;
    left: 70%;
    transform: translateX(-70%);
}

.about-container{
    width: 80%;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(6, 126, 126);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height: 250px;
    
}

.about-text{
    width: 550px;
}

.about-text p:nth-child(1){
    color: rgb(6, 126, 126);
    font-family: fantasy;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2){
    color:black;
    font-size: 13px;
    font-family: fantasy;
    font-weight: lighter;
    line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
    color: rgb(6, 126, 126);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.about-text button{
    width: 120px;
    height: 40px;
    color: black;
    outline: none;
    border: none;
    font-family: fantasy;
    background-color: rgb(6, 126, 126);
}

.services{
    height: 600px;
    background-color: white;
    padding: 2% 10% 0px 10%;
}

.services-text p:nth-child(1){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(6, 126, 126);
    font-size: 30px;
    line-height: 0px;
}

.services-text p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    font-size: 15px;
    line-height: 5px;
}

.services-text p:nth-child(3){
    font-family: 'Times New Roman', Times, serif;
    color: rgb(6, 126, 126);
    font-size: 15px;
}

.services-text {
    width: 500px;
    margin: 50px 0px;
}

.box-container{
    display: flex;
    justify-content: space-between;

}

.box-1, .box-2, .box-3 {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 18px rgb(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
}

.box-1{
    background-image: url(Backgrounds/willian-justen-de-vasconcellos-T_Qe4QlMIvQ-unsplash.jpg);
}

.box-2{
    background-image: url(Backgrounds/clement-helardot-95YRwf6CNw8-unsplash.jpg);
}

.box-3 {
    background-image: url(Backgrounds/joshua-sortino-71vAb1FXB6g-unsplash.jpg);
}

/* This modifies the 3 box's by numbering them 1-3 and creating a circle around the numbers */
.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* This modifies the 3 box's Titles (SQL, JavaScript, C#) */
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    line-height: 0px;
}

/* This modifies the 3 boxes captions underneath the title (Please Contact Me)  */
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
}

/* This modifies the 3 boxes by Adding buttons  */
.box-1 button,
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
    background-color: rgb(6, 126, 126);
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-me{
    width: 100%;
    height: 280px;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me p{
    color: rgb(6, 126, 126);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.contact-me button{
    width: 200px;
    height: 40px;
    background-color: rgb(6, 126, 126);
    outline: none;
    border: none;
    font-size: 15px;
    font-family: fantasy;
}



footer p{
    font-family: 'Times New Roman', Times, serif;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: Black;
    line-height: 10px;
}

footer p:nth-child(2){
    font-size: 16px;
    color: Black;
    width: 600px;
    text-align: center;
}

footer{
    height: 300px;
    display: flex; /* makes all items displayed into horizontal form (rows) */
    flex-direction: column; /* puts them back into vertical form (columns) */
    justify-content: center; /* centers all the texts and items in the footer (doesn't Bring into the middle) */
    align-items: center; /* Brings everything to the center of the page (Brings everything to the middle) */
    position: relative;
}


/* Created Circles for Icons. Centered them and Sized them. */
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 126, 126);
    margin: 20px 10px;
    border-radius: 50%;
}

/* Made the Icons in horizontal form (rows) */
.social-icons{
    display: flex;

}



.social-icons i, .social-icons i{
    color: black;
}

.social-icons a:hover{
    background-color: black;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}

.social-icons a:hover i,
.social a:hover i{
    color: white;
    transition: all ease 0.5s;
}

.copyright{
    color: black;
    font-size: 13px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: white;
    border: 1px solid rgb(6, 126, 126);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.social a:hover{
    background-color: black;
    transition: all ease 0.5s;
}

.social i{
    font-size: 20px;
    color: rgb(6, 126, 126);
}


@media(max-width:1000px){
    *{
        box-sizing: border-box;
    }
    /* Resizing the model image */
    .model{
        height: 460px;
        left:90%;
        transform: translateX(-90%);
    }
    /* Resizing the text (Hi, I'm Parmbir ETC. */
    .text-container{
        top: 46%;
    }
    /* Resizing the Button */
    .text-container button{
        margin: 5px;
    }

    /* Resizing the About container and image */
    .about-container{
        width: 90%;
        border-radius: 10px;
    }
    .about-container img{
        height: 200px;

    }
    /* Resizing About the text to fit */
    .about-text{
        width: 400px;
    }
    .about-text p:nth-child(1){
        font-size: 20px;
    }
    .about-text p:nth-child(2){
        font-size: 10px;
    }
    .about-text p:nth-child(3),
    .about-text p:nth-child(4){
        font-size: 14px;
    }

    /* Resizing the Services Text */
    .services{
        padding: 2% 5% 0px 5%;
    }
    /* Resizing the boxes (Columnizing) */
    .box-container{
        justify-content: center;
        flex-wrap: wrap;
    }
    /* Auto Adjusting the Height of Services (Making sure text isn't Overlapping the Box's */
    .services{
        height: auto;
    }
    /* Resizing the Box's to shrink and grow so they look presentable */
    .box-1, .box-2, .box-3{
        flex-grow: 1;
        margin: 10px;
    }
    /* Adjusting the contact me Height */
    .contact-me{
        height: 200px;
    }
    /* Contact me Paragraph text Resizing */
    .contact-me p{
        font-size: 26px;
    }
    /* Shrinking the button to make presentable */
    .contact-me button{
        font-size: 14px;
        height: 35px;
        width: 160px;
    }

}

@media(max-width:750px){
    /* Removing the picture when the page gets to small & subbing in a lighter shade of turqoise for the background color */
    section{
        background-image: none;
        background-color: rgb(169, 211, 211);
    }
    /* Removing the Model image */
    .model{
        display: none;
    }
    /* Displays the Menu Bar Toggle */
    .toggle{
        display: block;
    }
    /* Spreading out the Text and Centering the Text */
    .text-container p:nth-child(2){
        line-height: 40px;
        margin: 0px;
        padding: 0px;
    }
    /* Centering the Text */
    .text-container{
        top: 50%;
        left: 25%;
        transform: translate(-50,-25);
        width: 80%;
    }
    /* Resizing the NAV list */
    nav ul{
        margin: 0px;
        padding: 0px;
        background-color: rgb(169, 211, 211);
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display: none; /* This removes the Menu List completely */
    }
    /* Resizing the NAV items padding (Giving them Spacing) */
    nav ul li{
        padding: 10px;
    }
    /* Resizing the NAV Text and Change of Color */
    nav ul li a{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.4em;
        text-transform: uppercase;
        color: black;
    }
    /* Creating a text Hover for the List Items of the NAV */
    nav ul li a:hover{
        color: #1212128a;
    }
    /* Menu Bar Toggle */
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
    }
    /* Menu Bar Toggle (Toggle x) */
    .toggle.active::before{
        content: '\f00d';
        position: fixed; /* This makes sure the X is fixed while viewing the Menu in the Menu Bar. It Allows you to Close the Menu */
        right: 25px;
        line-height: 0px;
    }
    /* Displays the Menu */
    nav.active ul{
        display: flex !important;
    }
    /* Resizes the About Me */
    .about-container{
        top: 0px;
        flex-direction: column;
        width: 99%;
        height: auto;
        padding: 30px 0px;
        align-items: center;
    }
    /* Centers the TEXT in About Me */
    .about-text{
        width: 90%;
        text-align: center;
    }
    /* Service text is displayed at max width */
    .services-text{
        width: 100%;
    }
    /* Adjusts Contact Me */
    .contact-me{
        height: 180px;
    }
    /* Adjusts Contact Me Font (Paragraph) */
    .contact-me p{
        font-size: 18px;
    }
    /* Adjusts Contact Me Button */
    .contact-me button{
        width: 150px;
        height: 33px;
    }
    /* Adjusts the Footer (Paragraph) */
    footer p:nth-child(2){
        width: 90%;
    }
}