@charset "UTF-8";
/* CSS Document */
body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
section {
    width: 100%;
    height: 95vh;
    background-image: url("Backgrounds/willian-justen-de-vasconcellos-T_Qe4QlMIvQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* To Set how the NAV will be displayed */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
/* This Displays the NAV in horizontal manner (Unstacks Home About Projects Contact Info) */
nav ul {
    display: flex;
}

/* This is to Modify Nav Bar(Home About Projects Contact Info) */
nav ul li a {
    margin: 30px;
    font-family: helvetica;
    color: rgb(6, 126, 126);
    font-size: 15px;
    font-weight: 700;
}
/* This is to modify the Logo (Parmbir Singh) */
.logo {
    font-family: helvetica;
    color: rgb(6, 126, 126);
    font-size: 22px;
}
/* This will change the color of the Current NAV that is active (Being Displayed) */
.active {
    font-weight: bold;
    color: orange;
}
/* This is the font style and other attributes of the Text (Hello) */
.text-container p:nth-child(1){
    font-family: fantasy;
    font-style: bold;
    color: rgb(6, 126, 126);
    font-size: 22px;
}
/* This is the font style and other attributes of the Text (I'm Parmbir) */
.text-container p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    letter-spacing: 1px;
    color: white;
    font-size: 60px;
}
/* This is the font style and other attributes of the Text (I am a Software Engineer & Designer) */
.text-container p:nth-child(3){
    font-family: fantasy;
    color: rgb(6, 126, 126);
    font-size: 30px;
    line-height: 30px;
}
/* This brings the P:nth-child() together and sets the spacing up */
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
/* This takes the text in Text-Container and positions it in the Page */
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
/* This is a to modify the Buttons */
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
/* This modifies the border of the Hire Button and Color of text */
.hire-btn{
    border: 2px solid rgb(6, 126, 126);
    color: rgb(6, 126, 126);
}
/* This modifies the border to nothing and Background color of down-Cv Button */
.projects{
    background-color: rgb(6, 126, 126);
    color: white;
    border: none;
}
/* Buttons get activated when clicked (resize) */
button:active{
    transform: scale(1.1);
}
/* This adds another picture to the Page. Add's a Model */
.model{
    height: 560px;
    position: absolute;
    bottom: 40px;
    left: 70%;
    transform: translateX(-70%);
}

.about-container{
    width: 80%;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(6, 126, 126);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height: 250px;
    
}

.about-text{
    width: 550px;
}

.about-text p:nth-child(1){
    color: rgb(6, 126, 126);
    font-family: fantasy;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2){
    color:black;
    font-size: 13px;
    font-family: fantasy;
    font-weight: lighter;
    line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
    color: rgb(6, 126, 126);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.about-text button{
    width: 120px;
    height: 40px;
    color: black;
    outline: none;
    border: none;
    font-family: fantasy;
    background-color: rgb(6, 126, 126);
}

.services{
    height: 600px;
    background-color: white;
    padding: 2% 10% 0px 10%;
}

.services-text p:nth-child(1){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(6, 126, 126);
    font-size: 30px;
    line-height: 0px;
}

.services-text p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    font-size: 15px;
    line-height: 5px;
}

.services-text p:nth-child(3){
    font-family: 'Times New Roman', Times, serif;
    color: rgb(6, 126, 126);

}

.services-text {
    width: 500px;
    margin: 50px 0px;
}

.box-1, .box-2, .box-3 {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.3);
}

.box-container{
    display: flex;
    justify-content: space-between;

}

/* .box-1{
    background-image: url(Backgrounds/097145-3d-glossy-blue-orb-icon-social-media-logos-linkedin-logo-square2.png.crdownload);
} */

/* .box-2{
    background-image: url(Backgrounds/nattu-adnan-Ai2TRdvI6gM-unsplash.jpg);
}

.box-3 {
    background-image: url(Backgrounds/miguel-bruna-TzVN0xQhWaQ-unsplash.jpg);
} */